@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
  display: block; 
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 18px;
  color: #465b52;
  margin: 15px 0 20px 0;
  display: block; 
}

body{
    width: 100%;
  }

  .section-p1 {
    padding: 40px 80px;
  }
  
  .section-m1 {
    margin: 40px 0;
  }
  
  #header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #cfd3df;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    height: 70px;
  }
  
  #navbar{
    display: flex;
    align-content: center;
    justify-content: flex-end;
  }
  
  #navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
  }
  
  #navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
  }
  
  #navbar li a:hover {
    color: #088178;
    font-size: 17px;
  }
  
  #navbar li a.active {
    color: #088178;
    font-size: 17px;
  }
  
  #navbar li a.active::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
  }
  
  

    #page-header.about-header {
        background-image: url("/assets//banner.png"); /* Replace "img/banner.png" with your image path */
        height:  50vh;
        min-height: 300px;
        max-height: 900px;      
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }

    .about-header h2 {
        color: white;
    }
    .about-header p{
        color: white;
    }

    #about-head{
        display: flex;
        align-items: center;

    }


    #about-head p{
        background-color: #a651f513;
        border-radius: 15px;
    }

    #about-head img{
        width: 30%;
        height: auto;
        padding: 45px;
        border-radius: 100px;
    }
    #about-head div{
        padding: 40px;
    }

    
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #2222221e;
}

  footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  
  footer .logo{
    margin-bottom: 30px;
  }
  
  footer h4{
    font-size: 14px;
    padding-bottom: 20px;
  }
  
  footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
  }
  
  footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
  }
  
  footer .follow{
    margin-top: 20px;
  }
  
  footer .follow i {
    color: #465;
    margin-top: 4px;
    cursor: pointer;
  }
  
  footer .install .row img{
    border: 1px solid #088178;
    border-radius: 6px;
  }
  
  footer .install img{
    margin: 10px 0 15px 0;
  }
  
  footer .follow i:hover,
  footer a:hover{
    color: #088178;
  
  }
  
  footer .copyright{
    width: 100%;
    text-align: center;
    
  }
  