<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initil-scale=1.0">
    <title>Sobre nós</title>
    <link rel="stylesheet" href="/css/a_style.css">
    <link rel="stylesheet" href="/css/about-last.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
    <section id="header">
        <a href="#"><img class="logo"></a>
        <div >
            <ul id="navbar">
                <li><a href="/">Home</a></li>
                <li><a href="/views/interest">Pontos de Interesse</a></li>
                <li><a href="/views/pontos-turistico">Pontos Turísticos</a></li>
                <li><a href="/views/about">About Us</a></li>
                <li><a href="/views/login">Sign In <i class="bi bi-person-fill"></i></a></li>

            </ul>
        </div>
    </section>

    <section id="page-header" class="about-header">
        <h2>#Sobre Nós</h2>
        <p>Quem desenvolveu esse site e porquê?</p>
        <a href="/assets/banner.png"></a>
    </section>

    <section id="about-head" class="section-p1">
        <img src="/assets/150157912_887433822076489_6843869776751036014_n.jpg" alt="">
        <div>
            <h2>Quem somos nós?</h2>
            <p>Somos os responsáveis pela Sua Porta de Entrada para Belém na COP30. Bem-vindos a Belém! Somos Hudson, Ector, Renan, Gabriel e Giovani, estudantes de Ciência da Computação da UNAMA no 3º semestre. Criamos este site para auxiliar os turistas que visitarão nossa cidade durante a COP30, oferecendo um guia completo sobre os principais pontos de interesse, desde lugares turísticos e culturais até supermercados, hospitais, restaurantes e opções de lazer.
                Nosso objetivo é tornar sua experiência em Belém o mais agradável e proveitosa possível. Navegue pelas seções do site para encontrar informações detalhadas sobre:
                
                Pontos turísticos: Descubra os encantos históricos e culturais de Belém, desde o imponente Theatro da Paz até o fascinante Museu do Estado do Pará.
                Supermercados: Encontre facilmente supermercados próximos à sua localização para abastecer-se durante sua estadia.
                Hospitais: Tenha acesso à lista de hospitais da cidade e suas informações de contato, caso precise de assistência médica.
                Restaurantes: Saboreie a culinária local em restaurantes que atendem a todos os gostos e orçamentos.
                Entretenimento: Explore as diversas opções de lazer que Belém oferece, desde shows e apresentações até passeios de barco e visitas a parques.
                Esperamos que este site seja seu guia essencial durante sua visita a Belém na COP30. Sinta-se à vontade para entrar em contato conosco caso tenha dúvidas ou sugestões.        
<p>
            <span>Lembre-se: Belém é uma cidade acolhedora e vibrante, pronta para receber você de braços abertos. Aproveite ao máximo sua experiência na COP30 e explore tudo o que nossa cidade tem a oferecer!</span>
            <br><br>
            <b><marquee bgcolor="#ccc" loop="-1" scrollamount="5" width="100%">Todas as informações como números de telefone, endereço e etc estão corretas e fiés com a realidade.</marquee></b>
        </div>
    </section>

    
    <div class="container">
        <h1>About and Team Section</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus ab nulla dolorum autem nisi officiis blanditiis voluptatem hic, assumenda aspernatur facere ipsam nemo ratione cumque magnam enim fugiat reprehenderit expedita.</p>
        <div class="row">
            <div class="col-lg-12">
                <h2 class="my-4">Our Team</h2>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4 text-center"><img class="rounded-circle img-fluid d-block mx-auto" src="/assets/hudson.jpg">
                <h3 class="m-0">Hudson Mazza</h3>
                <h5 class="my-1">Dev front-end</h5>
                <a href="https://github.com/HudsonMazza" style="text-decoration: none;">LINK PARA O GITHUB</a>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4 text-center"><img class="rounded-circle img-fluid d-block mx-auto" src="/assets/ector.jpeg">
                <h3 class="m-0">Ector Magalhães</h3>
                <h5 class="my-1">Dev back-end / P.O</h5>
                <a href="https://github.com/Ector-Mgl" style="text-decoration: none;">LINK PARA O GITHUB</a>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4 text-center"><img class="rounded-circle img-fluid d-block mx-auto" src="/assets/gabriel.jpg">
                <h3 class="m-0">Gabriel Rodrigues</h3>
                <h5 class="my-1">Dev front / Dev Ops</h5>
                <a href="https://github.com/gaaaaab1" style="text-decoration: none;">LINK PARA O GITHUB</a>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4 text-center"><img class="rounded-circle img-fluid d-block mx-auto" src="/assets/renan.jpg">
                <h3 class="m-0">Renan Palheta</h3>
                <h5 class="my-1">Dev front-end</h5>
                <a href="https://github.com/renanplht" style="text-decoration: none;">LINK PARA O GITHUB</a>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4 text-center"><img class="rounded-circle img-fluid d-block mx-auto" src="/assets/giovani.jpg" max-width="100%" height="auto">
                <h3 class="m-0">Giovani Costa</h3>
                <h5 class="my-1">Dev front-end/ Dev back-end</h5>
                <a href="https://github.com/Numl8ck" style="text-decoration: none;">LINK PARA O GITHUB</a>
            </div>
            
        </div>
    </div>
    <script src="/js/about.js"></script>
    <footer class="section-p1">
        <div class="col">
            <img class="logo" src="/assets/logo.png" alt="">
            <h4>Contact</h4>
            <p><strong>Address:</strong> somewhere in Belém of Pará </p>
            <p><strong>Phone:</strong> +55 (91)98551-5933</p>
            <p><strong>E-mail:</strong> mazzahudson05@outlook.com</p>
            
            <div class="follow">
                <h4>Follow us</h4>
                <div class="icon">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-youtube"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-pinterest"></i>
                    <i class="fab fa-twitter"></i>
                </div>
            </div>
        </div>

        <div class="col">
            <h4>About</h4>
            <a href="/views/about">About Us</a>
            <a href="#">Privacy Police</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Contact Us</a>
        </div>

        <div class="col">
            <h4>Account</h4>
            <a href="/views/login"> Sign In</a>
            <a href="/views/pontos-turistico">View tourists points</a>
            <a href="/views/interest">View interesting points</a>
            <a href="#">Help</a>
        </div>
            <div class="copyright">
                <p>@ 2024, Belem-Guide</p>
            </div>
        </div>


    </footer>
    <script src="script.js"></script>
</body>
</html>