<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Belém Guide</title>
    <link rel="icon" type="image/png" href="caminho/para/sua/imagem.png">
    <link rel="stylesheet" href="/css/h_style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>

    <section id="header">
        <a href="#"><img class="logo"></a>
        <div >
            <ul id="navbar">
                <li><a href="/">Home</a></li>
                <li><a href="/views/interest">Pontos de Interesse</a></li>
                <li><a href="/views/pontos-turistico">Pontos Turísticos</a></li>
                <li><a href="/views/about">About Us</a></li>
                <li><a href="/views/login">Sign In <i class="bi bi-person-fill"></i></a></li>
            </ul>
        </div>
    </section>
    <section id="hero">
        <strong><h1>COP-30</h1></strong>
        <h2>O maior evento climático do Mundo!</h2>
        <h1>Não perca!</h1>
        <p>cop-30 em Belém do Pará!</p>
        <a href="https://www.semas.pa.gov.br/2023/12/11/belem-e-oficialmente-confirmada-como-sede-da-cop-30-em-2025/" target="_blank"><button>Ver Mais!</button></a>
    </section>

    <footer class="section-p1">
        <div class="col">
            <img class="logo" src="img/logo.png" alt="">
            <h4>Contact</h4>
            <p><strong>Address:</strong> somewhere in Belém of Pará </p>
            <p><strong>Phone:</strong> +55 (91)98551-5933</p>
            <p><strong>E-mail:</strong> mazzahudson05@outlook.com</p>
            
            <div class="follow">
                <h4>Follow us</h4>
                <div class="icon">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-youtube"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-pinterest"></i>
                    <i class="fab fa-twitter"></i>
                </div>
            </div>
        </div>

        <div class="col">
            <h4>About</h4>
            <a href="about.html">About Us</a>
            <a href="#">Privacy Police</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Contact Us</a>
        </div>

        <div class="col">
            <h4>Account</h4>
            <a href="login.html"> Sign In</a>
            <a href="t_points.html">View tourists points</a>
            <a href="i_points.html">View interesting points</a>
            <a href="#">Help</a>
        </div>
            <div class="copyright">
                <p>@ 2024, Belem-Guide</p>
            </div>
        </div>


    </footer>

    <script src="app.js"></script>
</body>
</html>
