<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pontos de Interesse</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="/css/i_style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
    <section id="header">
        <a href="#"><img class="logo"></a>

        <div >
            <ul id="navbar">
                <li><a class="active" href="/">Home</a></li>
                <li><a href="/views/interest">Pontos de Interesse</a></li>
                <li><a href="/views/pontos-turistico">Pontos Turísticos</a></li>
                <li><a href="/views/about">About Us</a></li>
                <li><a href="/views/login">Sign In <i class="bi bi-person-fill"></i></a></li>
            </ul>
        </div>

    </section>
    <section id="content">
        <section id="product1" class="section-p1">
            <h2> Belém's SuperMarkets</h2>
            <p>Most Popular Supermarkets in Belém</p>
            <div class="pro-container">
                <div class="pro">
                    <img src="/assets/lider-super_00539426_0_-3_cropped.webp" alt="">
                    <div class="des">
                        <h4 id="myh4">Supermercado Líder</h4><br>
                        <h7>Endereço: Av. Senador Lemos, 1801 - Umarizal, Belém - PA, 66055-00
                        </h7><br>
                        <br><h7>Horário de Funcionamento: Todos os dias, das 06:00 às 22:00</h7><br><br>
                        <h7>Contato:(91) 3239-9600</h7>
                        <a href="https://www.grupolideronline.com.br/" target="_blank"><i class="bi bi-plus"></i></a>
                    </div>
                </div>
                <div class="pro">
                    <img src="/assets/Captura de tela 2024-04-24 000112.png" alt="">
                    <div class="des">
                        <h4 id="myh4">Supermercado Mais Barato</h4><br>
                        <h7>Av. Gov. José Malcher, 2388 - São Brás, Belém - PA, 66060-000
                        </h7><br>
                        <br><h7>Horário de Funcionamento: Todos os dias, das 07:30 às 20:30</h7><br><br>
                        <h7>Contato: (91)3204-8355</h7>
                        <a href="http://www.grupomaisbarato.com.br/" target="_blank"><i class="bi bi-plus"></i></a>
                    </div>
                </div>
                <div class="pro">
                    <img src="/assets/Senador-Lemos-1024x683 (1).jpg" alt="">
                    <div class="des">
                        <h4 id="myh4">Mateus Supermercados</h4><br>
                        <h7>Endereço: Rod. BR-316, km 1, s/n - Tenoné, Belém - PA, 66125-000
                        </h7><br>
                        <br><h7>Horário de Funcionamento: Todos os dias, das 07:00 às 22:00</h7><br><br>
                        <h7>Contato: (91)3244-4900</h7>
                        <a href="https://www.grupomateus.com.br/" target="_blank"><i class="bi bi-plus"></i></a>
                    </div>
                </div>
                <div class="pro">
                    <img src="/assets/Atacadao-inaugura-segunda-unidade-de-autosservico-em-Recife (1).jpg" alt="">
                    <div class="des">
                        <h4 id="myh4">Supermercado Atacadão</h4><br>
                        <h7> Rod. Augusto Montenegro, S/N - Agulha, Belém - PA, 66811-000
                        </h7><br>
                        <br><h7>Horário de Funcionamento: Todos os dias, das 08:00 às 18:00</h7><br><br>
                        <h7>Contato:  (91)3321-9884</h7>
                        <a href="https://www.atacadao.com.br/" target="_blank"><i class="bi bi-plus"></i></a>
                    </div>
                </div>
                <div class="pro">
                    <img src="/assets/sobre_grupo.jpg" alt="">
                    <div class="des">
                        <h4 id="myh4">Supermercado Formosa
                        </h4><br>
                        <h7>Endereço: Av. Conselheiro Furtado, 2536 - Cremação, Belém - PA, 66040-105
                        </h7><br>
                        <br><h7>Horário de Funcionamento: Todos os dias, das 06:00 às 22:00</h7><br><br>
                        <h7> Contato: (91)3236-1525</h7>
                        <a href="https://www.formosa.com.br/" target="_blank"><i class="bi bi-plus"></i></a>
                    </div>
                </div>
                <div class="pro">
                    <img src="/assets/assai.jpg" alt="">
                    <div class="des">
                        <h4 id="myh4">Supermercado Assaí</h4><br>
                        <h7>Rodovia Mário Covas, 69 Coqueiro - Belém Pará - 66650-000
                        </h7><br>
                        <br><h7>Horário de Funcionamento: Segunda a Sábado: das 07:00 às 22:00
                            Domingos e Feriados: das 07:00 às 18:00</h7><br><br>
                        <h7>Contato: (91)3284-1550</h7>
                        <a href="https://www.formosa.com.br/" target="_blank"><i class="bi bi-plus"></i></a>
                    </div>
                </div>
                <div class="pro">
                    <img src="/assets/PB-BR (1).jpg" alt="">
                    <div class="des">
                        <h4 id="myh4">Supermercado Preço Baixo</h4><br>
                        <h7>Av. Senador Lemos, 2842 - Sacramenta, Belém - PA
                        </h7><br>
                        <br><h7>Horário de Funcionamento: Segunda a Sábado: das 07:00 às 22:00 
                            Domingos e Feriados: 07h30 às 13h30</h7><br><br>
                        <h7>Contato: (91) 3225-0977</h7>
                        <a href="https://precobaixoatacadista.com.br/" target="_blank"><i class="bi bi-plus"></i></a>
                    </div>
                </div>
                <div class="pro">
                    <img src="/assets/havan1.jpg" alt="">
                    <div class="des">
                        <h4 id="myh4">Havan Belém</h4><br>
                        <h7>Rod. Augusto Montenegro, 2216 - Mangueirão, Belém - PA, 66640-000
                        </h7><br>
                        <br><h7>Horário de Funcionamento: Todos os dias, das 09:00 às 21:00</h7><br><br>
                        <h7>Contato:(91) 3182-8785                    </h7>
                        <a href="https://www.havan.com.br/" target="_blank"><i class="bi bi-plus"></i></a>
                    </div>
                </div>
            </div>
        </section>

        <section id="product1" class="section-p1">
            <h2> Entertainment Venues</h2>
            <p>Most Popular entertainment venues in Belém</p>
            <div class="pro-container">
                <div class="pro">
                    <img src="/assets/utinga.jpg" alt="">
                    <div class="des">
                        <h4 id="myh4">Parque Estadual do Utinga</h4><br>
                        <h7>Endereço: Av. João Paulo II, s/n - Curió-Utinga, Belém - PA, 66115-000</h7><br><br>
                        <h7> Horário de Funcionamento: Diariamente, das 08:00 às 17:00</h7><br><br>
                        <h7>Serviços Oferecidos: Trilhas, observação da natureza, áreas para piquenique</h7><br><br>
                        <h7>Contato:(91) 3204-3297</h7>
                        <a href="https://www.parquedoutinga.com.br/" target="_blank"><i class="bi bi-plus"></i></a>
                    </div>
                </div>
                <div class="pro">
                    <img src="/assets/sobreoshopping.jpg" alt="">
                    <div class="des">
                        <h4 id="myh4">Boulevard Shopping Belém</h4><br>
                        <h7>Endereço: Av. Visconde de Souza Franco, 776 - Reduto, Belém - PA, 66053-000
                        </h7><br>
                        <br><h7>Horário de Funcionamento: Segunda a Sábado, das 10:00 às 22:00; Domingo, 
                            das 14:00 às 20:0</h7><br>
                            <h7>Serviços Oferecidos: Lojas, restaurantes, cinema, entretenimento infantil, estacionamento</h7><br><br>
                        <h7>Contato: (91) 3199-8100                    </h7>
                        <a href="https://boulevardbelem.com.br/" target="_blank"><i class="bi bi-plus"></i></a>
                    </div>
                </div>
                <div class="pro">
                    <img src="/assets/WhatsApp-Image-2023-03-17-at-11.08.31-1024x682.jpeg" alt="">
                    <div class="des">
                        <h4 id="myh4"> Shopping Pátio Belém</h4><br>
                        <h7>Endereço: Travessa Padre Eutíquio, 1078 - Batista Campos, Belém - PA, 66023-
                            710                        
                        </h7><br>
                        <br><h7>Horário de Funcionamento: Segunda a Sábado, das 10:00 às 22:00; Domingo, 
                            das 14:00 às 20:00</h7><br>
                            <h7>Serviços Oferecidos: Lojas, restaurantes, cinema, área de lazer</h7>
                        <h7>Contato: : (91) 3182-4000
                        </h7>
                        <a href="https://www.patiobelem.com.br/" target="_blank"><i class="bi bi-plus"></i></a>
                    </div>
                </div>
                <div class="pro">
                    <img src="/assets/thumb-a5a6db59fe381a98feec8f681d506012-202542.jpg" alt="">
                    <div class="des">
                        <h4 id="myh4">Espaço Cultural Casa das Onze Janelas</h4><br>
                        <h7> Endereço: Praça Justo Chermont, s/n - Cidade Velha, Belém - PA, 66020-300
                        </h7><br>
                        <br><h7>Horário de Funcionamento: Terça a Domingo, das 09:00 às 18:0</h7><br>
                        <h7>Serviços Oferecidos: arte moderna, contemporânea e fotografia, que apresentam obras de artistas locais e nacionais</h7><br><br>
                        <h7>Contato:  (91)4006-2820</h7>
                        <a href="https://museus.pa.gov.br/museus/6/espao-cultural-casa-das-onze-janelas" target="_blank"><i class="bi bi-plus"></i></a>
                    </div>
                </div>
                <div class="pro">
                    <img src="/assets/IMG_1517.jpg" alt="">
                    <div class="des">
                        <h4 id="myh4">Mangal das Garças
                        </h4><br>
                        <h7>Passagem Carneiro da Rocha Ao Lado do Arsenal da Marinha Cidade Velha, Belém, Pará 66020-160 Brasil
                        </h7><br>
                        <br><h7>Horário de Funcionamento: Todos os dias, das 8h00 - 18h00</h7><br>
                        <h7>Serviços Oferecidos: Passeio, observação da natureza, áreas para piquenique</h7><br><br>
                        <h7> Contato:  (91) 3344-0100</h7>
                        <a href="https://www.mangaldasgarcas.com.br/" target="_blank"><i class="bi bi-plus"></i></a>
                    </div>
                </div>
                <div class="pro">
                    <img src="/assets/caption.jpg" alt="">
                    <div class="des">
                        <h4 id="myh4">Forte do Presépio</h4><br>
                        <h7>Praça Dom Frei Caetano Brandão, s/n - Cidade Velha, Belém - PA, 66020-600
                        </h7><br>
                        <br><h7>Horário de Funcionamento: Todos os dias: das 09:00 às 17:00 (segunda-feira: fechado)</h7><br>
                        <h7>Serviços Oferecidos: O Museu tem variedade, como material lítico, cerâmicas marajoara e tapajônica, coleção de muiraquitãs.</h7><br><br>

                        <h7>Contato: (91)3284-1542</h7>
                        <a href="https://museus.pa.gov.br/museus/7/museu-forte-do-prespio" target="_blank"><i class="bi bi-plus"></i></a>
                    </div>
                </div>
                <div class="pro">
                    <img src="/assets/2023-02-26.jpg" alt="">
                    <div class="des">
                        <h4 id="myh4">Complexo Turístico do Ver-o-Rio</h4><br>
                        <h7>Av. Mal. Hermes, 1374 - Umarizal, Belém - PA, 66645-745
                        </h7><br>
                        <br><h7>Horário de Funcionamento: Aberto 24h </h7><br>
                        <h7>Serviços Oferecidos: Passeio, observação da natureza, áreas para piquenique</h7><br><br>
                        <h7>Contato: Não encontrado</h7>
                        <a href="https://semob.belem.pa.gov.br/prefeitura-de-belem-entrega-complexo-turistico-ver-o-rio-totalmente-reformado-nesta-quinta-14/" target="_blank"><i class="bi bi-plus"></i></a>
                    </div>
                </div>
                <div class="pro">
                    <img src="/assets/IMG_20221023_153630.jpg" alt="">
                    <div class="des">
                        <h4 id="myh4">Orla de Icorace</h4><br>
                        <h7>Rua Siqueira Mendes, Belém, Pará 66810-971 Brasil
                        </h7><br>
                        <br><h7>Horário de Funcionamento: Todos os dias, das 09:00 às 21:00</h7><br>
                        <h7>Serviços Oferecidos: Gastronomia Paraense, espaço para corrida, áreas para piquenique</h7><br><br>
                        <h7>Contato:(91) 3182-8785                    </h7>
                        <a href="https://guia.melhoresdestinos.com.br/orla-de-icoaraci-236-6604-l.html" target="_blank"><i class="bi bi-plus"></i></a>
                    </div>
                </div>
            </div>
        </section>

        <section id="product1" class="section-p1">
            <h2>Gastronomic Experiences</h2>
            <p>The the gastronomic experiences you must not miss</p>
            <div class="pro-container">
                <div class="pro">
                    <img src="/assets/fachada.jpg" alt="">
                    <div class="des">
                        <h4 id="myh4">Restaurant Ver-O-Açaí</h4><br>
                        <h7>Tv. Dom Pedro I, 599 - Umarizal, Belém - PA, 66050-100
                        </h7><br>
                        <br><h7>Horário de Funcionamento: Todos os dias com horários diferentes</h7><br>
                        <h7>Serviços Oferecidos: Gastronomia Paraense, espaço para corrida, áreas para piquenique</h7><br><br>
                        <h7>Contato: (91)8431-0601</h7>
                        <a href="https://www.instagram.com/veroacaibelem/" target="_blank"><i class="bi bi-plus"></i></a>
                    </div>
                </div>
                <div class="pro">
                    <img src="/assets/famiglia-sicilia.jpg" alt="">
                    <div class="des">
                        <h4 id="myh4">Famiglia Sicilia</h4><br>
                        <h7>Avenida Conselheiro Furtado 1420 Batista Campos, Belém, Pará 66035-435 Brasil
                        </h7><br>
                        <br><h7>Horário de Funcionamento: Todos os dias, das 19:00 às 23:30</h7><br>
                        <h7>Serviços Oferecidos: Gastronomia Italiana Europeia</h7><br><br>
                        <h7>Contato: (91)4008-0001</h7>
                        <a href="https://famigliasicilia.com/" target="_blank"><i class="bi bi-plus"></i></a>
                    </div>
                </div>
                <div class="pro">
                    <img src="/assets/grand-cru-belem-1.jpeg" alt="">
                    <div class="des">
                        <h4 id="myh4">Restaurant Grand Cru</h4><br>
                        <h7>Av. Brás de Aguiar, 50 Nazaré, Belém, Pará 66035-385 Brasil
                        </h7><br>
                        <br><h7>Horário de Funcionamento: Todos os dias, das 10:00 às 23:00</h7><br>
                        <h7>Serviços Oferecidos: Gastronomia Europeia, Wine Bar</h7><br><br>
                        <h7>Contato: (91)3212-7002</h7>
                        <a href="https://www.instagram.com/grandcru.belem/" target="_blank"><i class="bi bi-plus"></i></a>
                    </div>
                </div>
                <div class="pro">
                    <img src="/assets/reforma-do-sushi-ruy.jpg" alt="">
                    <div class="des">
                        <h4 id="myh4">Sushi Ruy Barbosa</h4><br>
                        <h7>Tv. Rui Barbosa, 1816 Entre Conselheiro Furtado e Rua dos Mundurucus, Belém, Pará 66035-444 Brasil
                        </h7><br>
                        <br><h7>Horário de Funcionamento: Todos os dias, das 12:00 às 00:00</h7><br>
                        <h7>Serviços Oferecidos: Gastronomia Japonesa e Asiática</h7><br><br>
                        <h7>Contato: (91)98249-8434</h7>
                        <a href="https://www.instagram.com/sushiruybarbosa/?hl=pt" target="_blank"><i class="bi bi-plus"></i></a>
                    </div>
                </div>
                <div class="pro">
                    <img src="/assets/255954087_4679449448779403_338588318517417867_n.jpg" alt="">
                    <div class="des">
                        <h4 id="myh4">A Forneria
                        </h4><br>
                        <h7>Tv, Antônio Barreto 948, Umarizal Esquina com Tv. 14 de Março, Belém, Pará 66055-050
                        </h7><br>
                        <br><h7>Horário de Funcionamento: Todos os dias, das 19::00 às 23:30</h7><br>
                        <h7>Serviços Oferecidos: Gastronomia Italiana e Sul-Americana</h7><br><br>
                        <h7> Contato: (91) 3223-1280</h7>
                        <a href="https://www.instagram.com/aforneria/" target="_blank"><i class="bi bi-plus"></i></a>
                    </div>
                </div>
                <div class="pro">
                    <img src="/assets/717_chef_thiago_castanho_01-600x391.jpg" alt="">
                    <div class="des">
                        <h4 id="myh4">Restaurante Remanso do Peixe
                        </h4><br>
                        <h7>Endereço: Av. Gov. José Malcher, 993 - Nazaré, Belém - PA, 66035-045
                        </h7><br>
                        <br><h7>Horário de Funcionamento: Todos os dias, das 11:00 às 22:00
                        </h7><br>
                            <h7>Serviços Oferecidos: Esspecialidades são com Peixes e frutos do mar</h7><br><br>
                        <h7>Contato: (91)3219-8112</h7>
                        <a href="https://www.instagram.com/remansodopeixe/" target="_blank"><i class="bi bi-plus"></i></a>
                    </div>
                </div>
                <div class="pro">
                    <img src="/assets/8924797_NKQJ7OxUPZWvYWiF9sF51Gi_YHeiu7Ay1H-l33zz2YQ.jpg" alt="">
                    <div class="des">
                        <h4 id="myh4">Rosario Lanches</h4><br>
                        <h7>R. Arcipreste Manoel Teodoro, 1020 - Campina, Belém - PA, 66015-040
                        </h7><br>
                        <br><h7>Horário de Funcionamento: terça a domingo das 17h à 0:30h</h7><br>
                            <h7>Serviços Oferecidos:  O lanche de rua mais famoso e prestigiado de belém</h7><br><br>
                        <h7>Contato: (91) 3225-0977</h7>
                        <a href="https://www.instagram.com/rosariolanchesoficial/" target="_blank"><i class="bi bi-plus"></i></a>
                    </div>
                </div>
                <div class="pro">
                    <img src="/assets/photo2jpg.jpg" alt="">
                    <div class="des">
                        <h4 id="myh4">Restaurante Manjar das Garças</h4><br>
                        <h7> Av. Gov. Magalhães Barata, s/n - Comércio, Belém - PA, 66093-360
                        </h7><br>
                        <br><h7>00</h7><br>
                        <h7>Especialidades: Culinária amazônica, peixes e frutos do mar</h7><br><br>
                        <h7>Contato:(91) 3184-9300 </h7>
                        <a href="https://www.instagram.com/manjardasgarcasoficial/" target="_blank"><i class="bi bi-plus"></i></a>
                    </div>
                </div>
            </div>
        </section>

        <section id="product1" class="section-p1">
            <h2>Hospitals in Belém</h2>
            <p></p>
            <div class="pro-container">
                <div class="pro">
                    <img src="/assets/Guadalupe-foto (1).jpg" alt="">
                    <div class="des">
                        <h4 id="myh4">Hospital Guadalupe</h4><br>
                        <h7>R. Arcipreste Manoel Teodoro, 734 - Batista Campos, Belém - PA, 66015-040
                        </h7><br>
                        <br><h7>Horário de Funcionamento: Atendimento 24 horas</h7><br>
                        <h7>Especialidades: Atendimento médico geral, emergências, cirurgias</h7><br><br>
                        <h7>Contato:(91) 4005-9877
                        </h7>
                        <a href="https://www.instagram.com/hospital.guadalupe.belem/" target="_blank"><i class="bi bi-plus"></i></a>
                    </div>
                </div>
                <div class="pro">
                    <img src="/assets/fotos-3-clicks-41_243827fe1cfa98a266b561a025611a25.jpg" alt="">
                    <div class="des">
                        <h4 id="myh4">Hospital Porto Dias</h4><br>
                        <h7>Endereço: Av. Magalhães Barata, 651 - São Brás, Belém - PA, 66060-240.
                        </h7><br>
                        <br><h7>Horário de Funcionamento: Atendimento 24 horas.</h7><br>
                        <h7>Especialidades: Clínica médica, cirurgias, emergências.</h7><br><br>
                        <h7>Contato: (91) 4008-2100 </h7>
                        <a href="https://www.hpd.com.br/" target="_blank"><i class="bi bi-plus"></i></a>
                    </div>
                </div>
                <div class="pro">
                    <img src="/assets/fachada_b0124123791a2eeafef6c74641c745a8.jpg" alt="">
                    <div class="des">
                        <h4 id="myh4">Hospital Beneficente Portuguesa</h4><br>
                        <h7>Endereço: Av. Generalíssimo Deodoro, 70 - Umarizal, Belém - PA, 66050-160
                        </h7><br>
                        <br><h7>Horário de Funcionamento: Atendimento 24 horas</h7><br>
                        <h7> Especialidades: Atendimento médico geral, emergências, cirurgias</h7><br><br>
                        <h7>Contato: (91) 3222-7711</h7>
                        <a href="https://www.beneficenteportuguesa.com.br/" target="_blank"><i class="bi bi-plus"></i></a>
                    </div>
                </div>
                <div class="pro">
                    <img src="/assets/cropped-logo-hmsf-hospital-e-maternidade-sagrada-familia-plih6e4eqovd00pv77pezo7ht41uf6uua95rtuq94g.png" alt="">
                    <div class="des">
                        <h4 id="myh4"> Hospital e Maternidade Sagrada Família</h4><br>
                        <h7>Endereço: Av. Gentil Bittencourt, 1195 - Nazaré, Belém - PA, 66035-440
                        </h7><br>
                        <br><h7>Horário de Funcionamento: Atendimento 24 horas</h7><br>
                        <h7> Especialidades: Obstetrícia, pediatria, emergências médicas</h7><br><br>
                        <h7>Contato: Especialidades: Obstetrícia, pediatria, emergências médicas
                        </h7>
                        <a href="https://hmsf.com.br/new/" target="_blank"><i class="bi bi-plus"></i></a>
                    </div>
                </div>
                <div class="pro">
                    <img src="/assets/upa (1).jpg" alt="">
                    <div class="des">
                        <h4 id="myh4">Unidade de Pronto Atendimento (UPA) de Icoaraci
                        </h4><br>
                        <h7>Endereço: Av. Gov. José Malcher, 336 - Icoaraci, Belém - PA, 66813-670
                        </h7><br>
                        <br><h7>Horário de Funcionamento: Atendimento 24 horas</h7><br>
                        <h7> Especialidades: Pronto atendimento médico, urgências</h7><br><br>
                        <h7> Contato: (91) 3227-1102
                        </h7>
                        <a href="https://sesma.belem.pa.gov.br/fale-conosco/unidades-de-pronto-atendimento-upa/"><i class="bi bi-plus"></i></a>
                    </div>
                </div>
                <div class="pro">
                    <img src="/assets/2024-04-18.png" alt="">
                    <div class="des">
                        <h4 id="myh4"> Laboratório Sabin</h4><br>
                        <h7>Endereço: Av. Generalíssimo Deodoro, 1137 - Umarizal, Belém - PA, 66050-160
                        </h7><br>
                        <br><h7>Horário de Funcionamento: Segunda a Sexta, das 06:00 às 18:00; Sábado, das 06:00 às 12:00</h7><br>
                        <h7>Serviços Oferecidos: Exames laboratoriais                    </h7><br><br>
                        <h7>Contato:  (91)3199-0101</h7>
                        <a href="https://www.sabin.com.br/?gclid=CjwKCAjw26KxBhBDEiwAu6KXt8RKFiFgISADPixKFBTVAjqLlpCy25ly8HzCE0ffEmuJV649ugcBohoC5cQQAvD_BwE&cidade=brasilia-df" target="_blank"><i class="bi bi-plus"></i></a>
                    </div>
                </div>
                <div class="pro">
                    <img src="/assets/2024-04-09.jpg" alt="">
                    <div class="des">
                        <h4 id="myh4">Clínica de Olhos do Pará</h4><br>
                        <h7>Endereço: Av. Generalíssimo Deodoro, 1100 - Umarizal, Belém - PA, 66055-230
                        </h7><br>
                        <br><h7>Horário de Funcionamento: Segunda a Sexta, das 08:00 às 18:00; Sábado, das 
                            08:00 às 12:00</h7><br>
                            <h7> Especialidades: Oftalmologia, exames de vista
                            </h7><br><br>
                        <h7>Contato: (91) 3225-0101
                        </h7>
                        <a href="https://www.instagram.com/clinicadeolhospara/" target="_blank"><i class="bi bi-plus"></i></a>
                    </div>
                </div>
                <div class="pro">
                    <img src="/assets/01-1024x576 (2) (1).jpg" alt="">
                    <div class="des">
                        <h4 id="myh4">Hospital da Ordem Terceira</h4><br>
                        <h7>Endereço: R. João Diogo, 234 - Cidade Velha, Belém - PA, 66020-540
                        </h7><br>
                        <br><h7> Horário de Funcionamento: Atendimento 24 horas</h7><br>
                        <h7> Especialidades: Atendimento médico geral, emergências, cirurgias
                        </h7><br><br>
                        <h7>Contato: (91)3210-8000</h7>
                        <a href="https://hospitalordemterceira.com.br/" target="_blank"><i class="bi bi-plus"></i></a>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <footer class="section-p1">
        <div class="col">
            <img class="logo" src="/assets/logo.png" alt="">
            <h4>Contact</h4>
            <p><strong>Address:</strong> somewhere in Belém of Pará </p>
            <p><strong>Phone:</strong> +55 (91)98551-5933</p>
            <p><strong>E-mail:</strong> mazzahudson05@outlook.com</p>
            
            <div class="follow">
                <h4>Follow us</h4>
                <div class="icon">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-youtube"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-pinterest"></i>
                    <i class="fab fa-twitter"></i>
                </div>
            </div>
        </div>

        <div class="col">
            <h4>About</h4>
            <a href="about.html">About Us</a>
            <a href="#">Privacy Police</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Contact Us</a>
        </div>

        <div class="col">
            <h4>Account</h4>
            <a href="/views/login"> Sign In</a>
            <a href="/views/pontos-turistico">View tourists points</a>
            <a href="/views/interest">View interesting points</a>
            <a href="#">Help</a>
        </div>
            <div class="copyright">
                <p>@ 2024, Belem-Guide</p>
            </div>
        </div>


    </footer>
        <div id="info-container">
        </div>
            
        <div id="map">
            <div id="container-map"></div>
        </div>
    </section>
    <script>

        function showInfo(event) {
            var img = event.currentTarget.querySelector('img').getAttribute('src');
            var title = event.currentTarget.querySelector('h4').innerText;
            var address = event.currentTarget.querySelector('h7:nth-of-type(1)').innerText;
            var hours = event.currentTarget.querySelector('h7:nth-of-type(2)').innerText;
            var contact = event.currentTarget.querySelector('h7:nth-of-type(3)').innerText;
        
            document.getElementById('info-container').innerHTML = `
                <h2>${title}</h2>
                <img src="${img}">
                <p><strong> ${address}</p>
                <p><strong>Horário de Funcionamento:</strong> ${hours}</p>
                <p><strong>Contato:</strong> ${contact}</p>
                <button id="rota" data-address="${address}">Traçar Rota</button>
            `;
            document.getElementById('info-container').style.right = '0';
            document.getElementById('content').classList.add('content-left');
        
            var proDivs = document.querySelectorAll('.pro-container');
            proDivs.forEach(function(div) {
                div.style.width = 'calc(100% - 200px)';
                document.getElementById('content').style.left = '-30px';
            });
        
        };

        
        var proDivs = document.querySelectorAll('.pro');
        
        proDivs.forEach(function(div) {
            div.addEventListener('click', showInfo);
        });
        document.getElementById('info-container').addEventListener('click', function(event) {
            if (event.target && event.target.id === 'rota') {
                document.getElementById('container-map').style.display = 'block';
                document.getElementById('map').style.display = 'block';
                document.getElementById('map').style.position = 'fixed';
                document.getElementById('map').style.zIndex = '9999';
                var address = event.target.getAttribute('data-address');
                var geocoder = new google.maps.Geocoder();
                geocoder.geocode({ 'address': address }, function(results, status) {
                    if (status == 'OK') {
                        var map = new google.maps.Map(document.getElementById('container-map'), {
                            zoom: 12,
                            center: results[0].geometry.location
                        });

                        var directionsService = new google.maps.DirectionsService();
                        var directionsDisplay = new google.maps.DirectionsRenderer({
                            map: map
                        });

                        var request = {
                            origin: "Unama - Alcindo Cacela, Belém, Brasil",
                            destination: address,
                            travelMode: 'DRIVING'
                        };

                        directionsService.route(request, function(result, status) {
                            if (status == 'OK') {
                                directionsDisplay.setDirections(result);
                            } else {
                                window.alert('Não foi possível calcular a rota: ' + status);
                            }
                        });
                        
                    } else {
                        window.alert('Endereço não encontrado: ' + status);
                    }
                });
                
            }
            
        });
        </script>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmemBTMviCF-LjvynRkUxSoTd5SE1joEA&callback"></script>
        

    
       
</body>
</html>