<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        body {
			font-family: Arial, sans-serif;
			margin: 0;
			padding: 0;
			justify-content: center;
			align-items: center;
			height: 100vh;
			
			background-image: url('https://ilhadocombu.tur.br/wp-content/uploads/2022/04/ilha-do-combu-5-1536x829.jpg'); 
			background-size: cover;
			background-position: center;
      
      overflow: hidden;
      width: 100%;
		}

		.login-container {
			background-color: #ffffffd7;
			padding: 40px;
			border-radius: 8px;
			box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
			max-width: 400px;
			width: 100%;
			margin-left: 30%;
		}

		.login-container h2 {
			text-align: center;
			margin-bottom: 20px;
			color: #333;
		}

		.form-group {
			margin-bottom: 20px;
			position: relative;
		}

		.form-group label {
			font-weight: bold;
			color: #555;
		}

		.form-group input {
			width: calc(100% - 40px);
			padding: 12px;
			border: 1px solid #ccc;
			border-radius: 5px;
			box-sizing: border-box;
			font-size: 16px;
		}

		.form-group input:focus {
			outline: none;
			border-color: #005800;
		}

		.form-group .clear-input {
			position: absolute;
			top: 50%;
			right: 10px;
			transform: translateY(-50%);
			cursor: pointer;
			color: #999;
		}

		.forgot-password {
			text-align: right;
			font-size: 14px;
			color: #777;
			text-decoration: none;
			display: block;
			margin-bottom: 20px;
		}

		.forgot-password:hover {
			color: #333;
		}

		.btn {
			background-color: #006400;
			color: #fff;
			border: none;
			padding: 14px 0;
			border-radius: 5px;
			cursor: pointer;
			width: 100%;
			font-size: 16px;
			transition: background-color 0.3s ease;
		}

		.btn:hover {
			background-color: #004500;
		}

		.register-link {
			text-align: center;
			margin-top: 20px;
		}

		.register-link a {
			color: #006400;
			text-decoration: none;
		}

		.register-link a:hover {
			text-decoration: underline;
		}

		.login-container h2 {
			text-align: center;
			margin-bottom: 20px;
			color: #333;
		}

		.social-buttons {
			margin-top: 20px;
			display:flex;
			justify-content: space-between;
		}

		.social-buttons button {
			width: 40px;
			height: 40px;
			background-color: transparent;
			border: none;
			padding: 0;
			cursor: pointer;
            margin: 0px;
		}

		.social-buttons button img {
			width: 100%;
			height: 100%;
		}

		.connect-with {
			text-align: center;
			margin-top: 20px;
		}
		
  html {
    scroll-behavior: smooth;
  }
  
  /* Global Styles */
  
  h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
  }
  
  h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
  }
  
  h4 {
    font-size: 20px;
    color: #222;
  }
  
  h6 {
    font-weight: 700;
    font-size: 12px;
  }
  
  p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
  }

#header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #cfd3df;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
  height: 50px;
}

#navbar{
  display: flex;
  align-content: center;
  justify-content: flex-end;
}

#navbar li{
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
  }
  
  #navbar li a:hover,
  #navbar li a.active{
    color: #088178;
    font-size: 17px;
  }
  
  #navbar li a.active::after,
  #navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
  }
  
    </style>
</head>

<body>
    <section id="header">
        <a href="#"><img class="logo"></a>

        <div>
            <ul id="navbar">
                <li><a class="active" href="/">Home</a></li>
                <li><a href="/views/interest">Pontos de Interesse</a></li>
                <li><a href="/views/pontos-turistico">Pontos Turísticos</a></li>
                <li><a href="/views/about">About Us</a></li>
                <li><a href="/views/login">Sign In <i class="bi bi-person-fill"></i></a></li>

            </ul>
        </div>

    </section>

    <div class="login-container">
        <h2>Bem-vindo!</h2>
        <form action="/auth/login" method="POST">
            <div class="form-group">
                <label for="username">Nome de Usuário:</label>
                <div style="position: relative;">
                    <input type="text" id="username" name="username" required>
                    <i class="fas fa-times-circle clear-input" onclick="clearUsername()"></i>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Senha:</label>
                <div style="position: relative;">
                    <input type="password" id="password" name="password" required>
                    <i class="fas fa-eye-slash password-toggle" style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%); cursor: pointer; color: #999;" onclick="togglePassword()"></i>
                </div>
					{{#if message}}
    {{#if success}}
    <h4 class="alert alert-success mt-2">{{message}}</h4>
    {{else}}
        <h4 class="alert alert-danger mt-2">{{message}}</h4>
    {{/if}}
{{/if}}
            </div>
            <a href="#" class="forgot-password">Esqueceu a senha?</a>
            <button type="submit" class="btn">Login</button>
        </form>
        <div class="connect-with">
            <p>Ou conecte-se com</p>
        </div>
        <div class="social-buttons">
            <button class="btn-google">
                <img src="/assets/icons8-google-100.png" alt="Google Logo">
            </button>
            <button class="btn-apple">
                <img src="/assets/icons8-apple-100.png" alt="Apple Logo">
            </button>
            <button class="btn-facebook">
                <img src="/assets/icons8-facebook-100.png" alt="Facebook Logo">
            </button>
        </div>
        <div class="register-link">
            <p>Não tem uma conta? <a href="/views/register">Criar conta</a></p>
        </div>
    </div>
    <script>
       	function clearUsername() {
      document.getElementById('username').value = '';
    }

    function togglePassword() {
      var passwordInput = document.getElementById('password');
      var passwordToggle = document.querySelector('.password-toggle');

      if (passwordInput.type === 'password') {
        passwordInput.type = 'text';
        passwordToggle.classList.remove('fa-eye-slash');
        passwordToggle.classList.add('fa-eye');
      } else {
        passwordInput.type = 'password';
        passwordToggle.classList.remove('fa-eye');
        passwordToggle.classList.add('fa-eye-slash');
      }
    }
    </script>
</body>

</html>
