<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BelémGuide</title>
    <link rel="stylesheet" href="/css/t_style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css" rel="stylesheet">
<body>
    <section id="header">
        <a href="#"><img class="logo"></a>
        <div >
            <ul id="navbar">
                <li><a class="active" href="/">Home</a></li>
                <li><a href="/views/interest">Pontos de Interesse</a></li>
                <li><a href="/views/pontos-turistico">Pontos Turísticos</a></li>
                <li><a href="/views/about">About Us</a></li>
                <li><a href="/views/login">Sign In <i class="bi bi-person-fill"></i></a></li>

            </ul>
        </div>
    </section>
    <div class="flex">
        <section id="product1" class="section-p1">
            <h2 id="main-text">Descubra as Maravilhas de Belém:</h2>
            <div class="texto_turista">
                <p><strong>Estação das Docas:</strong> Um complexo turístico e cultural vibrante, à beira da Baía do Guajará, com restaurantes, lojas, artesanatos e apresentações culturais.</p>
            </div>
            <div class="texto_turista">
                <p><strong>Museu Emílio Goeldi:</strong> Uma jornada fascinante pela história natural e cultural da Amazônia. Explore exposições sobre os povos indígenas, a fauna e flora únicas da região e os diversos aspectos da cultura local. </p>
            </div>
            <div class="texto_turista">
                <p><strong>Ver-o-Peso:</strong>Mais do que um mercado, uma experiência sensorial. Explore os aromas, cores e sabores vibrantes deste mercado flutuante, o maior da América Latina. </p>
            </div>
            <div class="texto_turista">
                <p><strong>Theatro da Paz:</strong>Um marco histórico e arquitetônico da cidade, com apresentações de ópera, teatro e música clássica. Admire a beleza da sua construção em estilo neoclássico e assista a um espetáculo inesquecível.</p>
            </div>
        </section>
        <section class="container">
            <div class="container">
                <div class="slide">  
                    <div class="item" style="background-image: url(https://www.carpemundi.com.br/wp-content/uploads/2019/12/MERCADO-VER-O-PESO.jpg);">
                        <div class="content">
                            <div class="name">Ver-O-Peso</div>
                            <div class="des">O Mercado Ver o Peso é um símbolo da integração entre o aspecto urbano das construções e o acesso fluvial da Baía de Guajará.</div>
                            <a href="http://www.belem.pa.gov.br/ver-belem/detalhe.php?i=1&p=363"><button>Veja Mais</button></a>
                        </div>
                    </div>
                    <div class="item" style="background-image: url(https://www.redepara.com.br/imagens/galeria/137465/e1c28242-29a5-4792-acb9-ca6457481293.jpg);">
                        <div class="content">
                            <div class="name">ILHA DO COMBÚ</div>
                            <div class="des">A paradisíaca Ilha do Combú é um local repleto de restaurantes maravilhosos com área para banho, passeio de lancha, entre outras atrações. </div>
                            <a href="https://ilhadocombu.tur.br/"><button>Veja Mais</button></a>
                        </div>
                    </div>
                    <div class="item" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/7/7e/ESTA%C3%87%C3%83O_DAS_DOCAS.jpg);">
                        <div class="content">
                            <div class="name">Estação das Docas</div>
                            <div class="des">Estação das Docas é uma referência nacional, o espaço congrega gastronomia, cultura, moda e eventos nos 500 metros de orla fluvial do antigo porto de Belém.</div>
                            <a href="https://www.estacaodasdocas.com/"><button>Veja Mais</button></a>
                        </div>
                    </div>
                    <div class="item" style="background-image: url(https://media-cdn.tripadvisor.com/media/photo-s/0e/80/04/62/fotos-da-fachada-da-basilica.jpg);">
                        <div class="content">
                            <div class="name">Basílica de Nazaré</div>
                            <div class="des">A Basílica Santuário de Nossa Senhora de Nazaré do Desterro ou mais conhecida como Basílica de Nossa Senhora do Nazaré ou simplesmente Basílica de Nazaré, é um templo religioso católico localizado em Belém.</div>
                            <a href="https://basilicadenazare.com.br/"><button>Veja Mais</button></a>
                        </div>
                    </div>
                    <div class="item" style="background-image: url(https://www.topensandoemviajar.com/wp-content/uploads/2016/01/theatro-da-paz-belem-para-geral.jpg);">
                        <div class="content">
                            <div class="name">Theatro da Paz</div>
                            <div class="des">O Theatro da Paz é um teatro brasileiro localizado na Praça da República na cidade paraense de Belém, projetado pelo engenheiro pernambucano José Tibúrcio Pereira Magalhães no estilo neoclássico.</div>
                            <a href="https://www.theatrodapaz.com.br/"><button>Veja Mais</button></a>
                        </div>
                    </div>
                    <div class="item" style="background-image: url(https://imgmd.net/images/v1/guia/1612909/museu-paraense-emilio-goeldi.jpg);">
                        <div class="content">
                            <div class="name">Emílio Goeldi Museum</div>
                            <div class="des">O Museu Paraense Emílio Goeldi popularmente conhecido como Museu Goeldi, é uma instituição museológica e científica pública e um parque zoobotânico brasileiro.</div>
                            <a href="https://www.gov.br/museugoeldi/pt-br"><button>Veja Mais</button></a>
                        </div>
                    </div>
                </div>
                <div class="button">
                    <button class="next"><i class="bi bi-caret-left-fill"></i></button>
                    <button class="prev"><i class="bi bi-caret-right-fill"></i></button>
                </div>
            </div>
        </section>
        <div id="product2">
            <div class="card">
                <div class="pd">
                    <p><strong>Basílica de Nazaré:</strong>Um dos principais centros religiosos do Brasil, lar da imagem milagrosa de Nossa Senhora de Nazaré. Visite a Basílica, participe da procissão anual e viva a fé e a devoção do povo paraense. Uma experiência espiritual tocante.

                    </p>   
                </div>
            </div>

            <br/>
            
            <div class="card">
                <div class="pd">
                    <p><strong>Ilha do Combu:</strong>Um refúgio paradisíaco a apenas 30 minutos de barco de Belém. Relaxe nas praias de água doce, desfrute da culinária à base de peixes frescos e explore a natureza exuberante. Um dia perfeito para recarregar as energias e se conectar com a tranquilidade.</p>
                </div>
            </div>
            
        </div>
    </div>

    <script src="/js/script.js"></script>
</body>
</html>
